<div class="login-box">
  <div class="login-logo">
    Cadastro
  </div>
  <!-- /.login-logo -->

  <div class="login-box-body">
    <div [formGroup]="formGroup">

      <div class="form-group"
        [class.has-error]="formGroup.get('name').hasError('required') && formGroup.get('name').touched">
        <label for="name">Nome</label>
        <input formControlName="name" name="name" type="text" class="form-control" placeholder="Nome" required>
        <span class="fa fa-lock form-control-feedback"></span>
        <span *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched"
          class="help-block">Campo obrigatório</span>
      </div>


      <div class="form-group"
        [class.has-error]="formGroup.get('password').hasError('required') && formGroup.get('email').touched">
        <label for="email">Email</label>
        <input formControlName="email" name="email" type="text" class="form-control" placeholder="Email" required>
        <span class="fa fa-lock form-control-feedback"></span>
        <span *ngIf="formGroup.get('email').hasError('required') && formGroup.get('email').touched"
          class="help-block">Campo obrigatório</span>
      </div>


      <div class="form-group"
        [class.has-error]="formGroup.get('password').hasError('required') && formGroup.get('password').touched">
        <label for="password">Senha</label>
        <input formControlName="password" name="password" type="text" class="form-control" placeholder="Senha" required>
        <span class="fa fa-lock form-control-feedback"></span>
        <span *ngIf="formGroup.get('password').hasError('required') && formGroup.get('password').touched"
          class="help-block">Campo obrigatório</span>
      </div>


      <div class="form-group">
        <button class="btn btn-primary" [disabled]="formGroup.invalid" (click)="register()">Registrar</button>
      </div>
    </div>
  </div>
  <!-- /.login-card-body -->

</div>