<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de cliente</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>

    <div class="box-body" [formGroup]="formGroup">
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="form-group"
                        [class.has-error]="formGroup.get('name').hasError('required') && formGroup.get('name').touched">
                        <label>Nome</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Derick Souza">
                        <span *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched"
                            class="help-block">Campo obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group"
                    [class.has-error]="formGroup.get('email').hasError('required') && formGroup.get('email').touched">
                    <label>E-mail</label>
                    <input type="email" formControlName="email" class="form-control"
                        placeholder="derick_sm@hotmail.com">
                    <span *ngIf="formGroup.get('email').hasError('required') && formGroup.get('email').touched"
                        class="help-block">Campo obrigatório</span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">

                <div class="form-group"
                    [class.has-error]="formGroup.get('street').hasError('required') && formGroup.get('street').touched">
                    <label>Rua</label>
                    <input type="text" formControlName="street" class="form-control" placeholder="Avenida Centenário">
                    <span *ngIf="formGroup.get('street').hasError('required') && formGroup.get('street').touched"
                        class="help-block">Campo obrigatório</span>
                </div>

            </div>


            <div class="col-xs-12 col-sm-6">
                <div class="form-group"
                    [class.has-error]="formGroup.get('number').hasError('required') && formGroup.get('number').touched">
                    <label>Número</label>
                    <input type="number" formControlName="number" class="form-control" placeholder="70">
                    <span *ngIf="formGroup.get('number').hasError('required') && formGroup.get('number').touched"
                        class="help-block">Campo obrigatório</span>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group"
                    [class.has-error]="formGroup.get('district').hasError('required') && formGroup.get('district').touched">
                    <label>Bairro</label>
                    <input type="text" formControlName="district" class="form-control" placeholder="Centro">
                    <span *ngIf="formGroup.get('district').hasError('required') && formGroup.get('district').touched"
                        class="help-block">Campo obrigatório</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group"
                    [class.has-error]="formGroup.get('district').hasError('required') && formGroup.get('district').touched">
                    <label>Celular</label>
                        <input formControlName="phone" type="text" class="form-control" placeholder="(99) 99999-9999"
                            [textMask]="{mask: maskPhone, placeholderChar: '\u2000'}">
                    <span *ngIf="formGroup.get('district').hasError('required') && formGroup.get('district').touched"
                        class="help-block">Campo obrigatório</span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <button class="btn btn-primary" (click)="saveCustomer()" [disabled]="formGroup.invalid" >{{id != null ? 'Atualizar' : 'Salvar'}}</button>
                </div>
            </div>


        </div>
    </div>

</div>